/* configuraciones generales*/

@charset "utf-8";

* {
    font-family: "Roboto", sans-serif;
    Background-color: #e0ddd2
}

/* aplicaciones */

nav a {
    font-family: "Bebas Neue", sans-serif;
    color: #0b0400;
    font-size: 1.66rem;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    color: #0b0400;
    font-size: 15rem;
    line-height: 15rem;
    text-align:left ;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    color: #0b0400;
    font-size: 5rem;
}

p {
    text-wrap-style: balance;
    text-align: left;
    line-height: 1.3rem;
}