/* configuraciones generales*/

@charset "utf-8";

* {
    font-family: "Roboto", sans-serif;
    Background-color: #e0ddd2;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* PORTADA */

.portada {
    width: 100%;
    min-height: 830px;
    background-image: url("img/perfil.png");
    background-size: 700px 736px;
    background-position: right center;
    background-repeat: no-repeat;
}

/* aplicaciones */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

nav a {
    font-family: "Bebas Neue", sans-serif;
    color: #0b0400;
    font-size: 1.7rem;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    color: #0b0400;
    text-align: left;
    font-size: 10rem;
}


h2 {
    font-family: "Bebas Neue", sans-serif;
    color: #d44b07;
    font-size: 4rem;
}

p {
    text-wrap-style: balance;
    text-align: left;
    line-height: 1.3rem;
}



h4 {
    font-family: "Bebas Neue", sans-serif;
    color: #d44b07;
    font-size: 2rem;
}